# An example configuration file for twod.
# See the twod.conf man page for a more detailed description of each parameter.

[general]
# twodns username
user = username

# twodns password
password = password

# Update URL in the form https://api.twodns.de/hosts/<your host>
# e.g. https://api.twodns.de/hosts/awesomehost.dd-dns.de
url = update-url

# Update interval - Check if IP has changed every x seconds.
interval = 3600

[ip_service]
# Method of selecting url to get external IP.
# Possible values are `round_robin` or `random`.
mode = random

# List of URLs to get external ip from.
# Which of these URLs will actually be queried depends on the `mode` setting.
urls = https://icanhazip.com https://ipinfo.io/ip
# Some more URLs you can use if you don't mind not using SSL
;url = https://icanhazip.com https://ipinfo.io/ip http://ifconfig.me/ip
;       http://ipecho.net/plain


[logging]
# Log level. Possible values: DEBUG | INFO | WARN | ERROR | CRITICAL
level = WARN
