# An example configuration file for twod.
# See the twod.conf man page for a more detailed description of each parameter.

[general]
# twodns username
user = username

# twodns password
password = password

# update url in the form https://api.twodns.de/hosts/<your host>
# e.g. https://api.twodns.de/hosts/awesomehost.dd-dns.de
url = update-url

# update interval - check if IP has changed every x seconds
interval = 3600

[ip_service]
url = https://icanhazip.com
;url = https://ipinfo.io/ip
;url = http://ifconfig.me/ip
;url = http://ipecho.net/plain


[logging]
# log level
level = WARN
